body {
	font-family: verdana, arial;
}

.kaart {
	white-space: nowrap;
}

.kaart img, .kaart span {
	vertical-align: middle;
}

.kaart span {
	vertical-align: middle;
	font-size: 2em;
	margin-left: -1em;
}