body {
	font-family: verdana, arial;
}

.kaart {
	white-space: nowrap;
}

.kaart img, .kaart span {
	vertical-align: middle;
}

.kaart span {
	vertical-align: middle;
	font-size: 2em;
	margin-left: -1em;
}

a {
	color: blue;
	padding: 0, 5px, 5px, 0;
}

a, a:visited {
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}