@(gebruiker: Gebruiker, tekort: List[(Kaart, Int)], tekortForm: Form[Int]) 
@home(Some(gebruiker), "Kaarten die je nog mist") {

<p>
    @helper.form(action = routes.Kaarten.nieuwAantalVerzamelingen) {
    
    	@helper.inputText(tekortForm("aantalVerzamelingen"))
		
		<input type="submit" value="Opslaan" />
	}
</p>

<p>
	De kaarten die je nog nodig hebt om @gebruiker.aantalVerzamelingen complete 
	@if(gebruiker.aantalVerzamelingen == 1) {
	verzameling
	} else {
	verzamelingen
	}
	te krijgen:<br/>

	@for((kaart, aantal) <- tekort) {
	<span class="kaart">
		<img src="@kaart.imageUrl"/>
		<span>*@aantal</span>
	</span>
	}
</p>

}
